<%= form_for(@kitten) do |f| %>
  <% if @kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kitten.errors.count, "error") %> prohibited this kitten from being saved:</h2>

      <ul>
      <% @kitten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>  
  <% end %>

	<%= f.label :name, "Name:"%>
	<%= f.text_field :name %></br>
	
	<%= f.label :age, "Age: "%>
	<%= f.number_field :age %></br>
	
	<%= f.label :cuteness, "Cuteness:" %>
	<%= f.number_field :cuteness %></br>
	
	<%= f.label :softness, "Softness:" %>
	<%= f.number_field :softness %></br></br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
